@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.display-flex {
  display: flex;
}
.text-gray {
  color: #424242;
}
.text-light-gray {
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  background-color: #ff900e;
  border: none;
  color: #fff;
  border-radius: 8px;
  padding: 15px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}
.title {
  font-size: 2.75rem;
  font-weight: bold;
}
.description {
  font-size: 1rem;
  color: #727272;
}
img{
    width: 100%;
}
/* Header Styles */

/* Navbar Styles */
.navbar {
  justify-content: space-between;
}
.brand {
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-links {
  align-items: center;
  gap: 20px;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: #424242;
}
.navbar,
.banner {
  max-width: 1200px;
  margin: 0 auto;
}

/* banner related styles */
.banner{
    padding-bottom: 50px;
}
.banner-content{
    max-width: 850px;
    margin: 50px auto;
    text-align: center;

}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 1.5rem;
}
